@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root{
  --blue:#287bff;
  --grey:#f5f5f5;
  --black1:#222;
  --black2:#999;
  --color-white-hover: 	
  #FFFFFF;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;

  font-family: 'Oswald', sans-serif;
}

body{
  min-width: 100vh;
  overflow-x: hidden;
}

.sidebar {
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--blue);
}


.sidebar-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sidebar-menu ul li{
  position: relative;
  width: 200%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}


.sidebar-menu ul li  :hover{
   background:var(--color-white-hover);
   border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.sidebar-menu ul li:nth-child(1){
  margin-bottom: 40px;
  pointer-events: none;
}

.sidebar-menu ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--color-white-hover);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.sidebar-menu ul li:hover a
{
  color: var(--blue);
}

.sidebar-menu ul li a .icon{
  position: relative;
  display:block;
  min-width:60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.sidebar-menu ul li a .icon fa-solid{
  font-size: 1.75em;

}

.sidebar-menu ul li a .title{
  position: relative;
  display: block;
  padding: 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* .sidebar-menu ul li:hover a::before{
  content: '';
  position: absolute;
  
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--color-white-hover);

} */



/* 
main ::content */
.main{
  position: absolute;
  width:calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--color-white-hover);
  transition: 0.5%;

}

.topbar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle{
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.search{
  position: relative;
  width: 400px;
  margin: 0 10px;

}

.search label{
   position: relative;
   width: 100%;
}

.search label input{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid var(--black1);
}

.search label ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2em;

}

.user {
  position: relative;
  width: 70px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user ion-icon{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  object-fit: cover;
}

.cardbox{
  position: relative;

  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
}

.cardbox .card{
  position: relative;
  background: var(--color-white-hover);
  padding: 30px;
  border-radius: 20px;
  display:block;
  text-align:center;
  justify-content: space-between;
  cursor: pointer;
 
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardbox .card .numbers{
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: var(--blue);
  display:block;
  text-align: center;
}

.cardbox .card .cardName{
  color: var(--black1);
  font-size: 1.1em;
  margin-top: 5px;
  display:block;
  text-align: center;
}


.cardbox .card .iconbox{
  
  font-size: 2.5em;
  color: var(--blue);
  position: relative;
  
  text-align: center;
}
.cardbox :hover{
  background: var(--blue);
}

/* .cardbox .card :hover{
  background: white;
} */

.cardbox .card :hover .numbers,
.cardbox .card :hover .cardName,
.cardbox .card :hover .iconbox{
  color: white;
}

.details
{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap:30px;
  margin-top: 10px;
}

.details .recentorder{
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--color-white-hover);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.caedheader{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.caedheader h2
{
  
  font-weight: 600;
  color: var(--blue);
}

.btn{
  position: flex;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--color-white-hover);
  border-radius: 6px;
}


.details table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}


.details  table thead td{
   font-weight: 600;
}

.details .recentorder table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.details .recentorder table tr:last-child{
  border-bottom: none;
}

.details .recentorder table tbody tr:hover{
  background: var(--blue);
  transition: 0.5%;
  color: var(--color-white-hover);
}


.details .recentorder table tr td{
  padding: 10px;
}


.details .recentorder table tr td :last-child{
  text-align: end;
}

.details .recentorder table tr td :nth-child(3){
  text-align: end;
}

.details .recentorder table tr td :nth-child(5)
{
  text-align: end;
}


.statusdelivered{
  padding: 2px 4px;
  background-color: rgb(80, 119, 21);
  color: var(--color-white-hover);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.statuspending{
  padding: 2px 4px;
  background-color: red;
  color: var(--color-white-hover);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.statusinprogress{
  padding: 2px 4px;
  background-color: blue;
  color: var(--color-white-hover);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentcustomers{
  position: relative ;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background-color: var(--color-white-hover);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.recentcustomers .img
{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.recentcustomers .img ion-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentcustomers table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.recentcustomers table tr:hover{
  background: var(--blue);
  color: var(--color-white-hover);

}

.recentcustomers table tr td{
  padding: 12px 10px;
}

.recentcustomers table tr td h4{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}

.recentcustomers table tr td h4 span{
  font-size: 14px;
  text-align: start;
  color: var(--black2);
}


.recentcustomers table tr:hover{
  background: var(--blue);
  color: var(--color-white-hover);

}

.recentcustomers table tr:hover td h4 span{
  color: var(--color-white-hover);
}


