
*{
    padding: 0;
    margin: 0;
}
.color{
    background-color: #0F172B;
    min-height: 100vh;
}

.header{
    background-color: #0F172B ;
    padding-top: 90px;
}

.header h1{
    /* text-align: center;  */
    color: white;
    margin-left: 67px;
    margin-bottom: 10px;
}
.container{
    color: white;
}

.col-sm{
    background-color: #0F172B;
}
