body{
    background-color: #0F172B;
}
.mainBox1{
    margin-top: 30px;
    border-radius: 20px;
}

.mainBox1 h2{
    text-align: center;
}

.mainBox1 form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox1 form input{
    margin: 10px;
    background-color: #FEA116;
}

/* .mainBox2Heading1{
    padding: 10px;
        background-color: #5C2E7E;
        border-radius: 4px;
        color: white;
} */

.mainBox2{
    padding: 10px;
    background-color: #0F172B;
    border-radius: 10px;
    color: black;
}
.container{
    color: white;
}
.custom-select{
    color: black;
  }
.bg-prim{
    background-color: #0F172B;
}

.circular{
    border-radius: 2px;
}

.btn-prim1{
    background-color: #FEA116;
}